<nav class="team">
	<ul>
		<li>
			<a href="{{ "/user01" | prepend: site.baseurl }}" class="clearfix">
				<div class="imgarea">
					<img src="{{ "/img/profile01.png" | prepend: site.baseurl }}" alt="lovefield">
				</div>
			
				<div class="profile">
					<div class="cell">
						<h3>lovefield</h3>
						<p>web front end developer</p>
					</div>
				</div>
			</a>
		</li>
		
		<li>
			<a href="{{ "/user02" | prepend: site.baseurl }}" class="clearfix">
				<div class="imgarea">
					<img src="{{ "/img/profile02.png" | prepend: site.baseurl }}" alt="민갤">
				</div>
			
				<div class="profile">
					<div class="cell">
						<h3>민갤</h3>
						<p>android developer</p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</nav>
