<li>
	<a href="{{ post.url | prepend: site.baseurl }}" class="clearfix">
		{% if post.image %}
			<amp-img src="{{ post.image | prepend: site.baseurl }}" alt="{{ post.title | escape }}" width="236" height="118" layout="responsive"></amp-img>
		{% else %}
			{% if post.category == "all" %}
				<amp-img src="{{ "/img/dico.png" | prepend: site.baseurl }}" alt="{{ post.title | escape }}" width="236" height="118" layout="responsive"></amp-img>
			{% endif %}
			{% if post.category == "front_end" %}
				<amp-img src="{{ "/img/front_end.png" | prepend: site.baseurl }}" alt="{{ post.title | escape }}" width="236" height="118" layout="responsive"></amp-img>
			{% endif %}
			{% if post.category == "android" %}
				<amp-img src="{{ "/img/android.png" | prepend: site.baseurl }}" alt="{{ post.title | escape }}" width="236" height="118" layout="responsive"></amp-img>
			{% endif %}
		{% endif %}
		
		<div class="textarea">
			<h3 class="ellipsis">{{ post.title | escape }}</h3>
			<p class="date">{{ post.date | date: "%Y.%m.%d" }}</p>
			<p class="category">{{ post.category }}</p>
			<p class="author">by <b>{{ post.author }}</b></p>
		</div>
	</a>
</li>