@charset"utf-8";

body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,menu{margin:0;padding:0;border:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
body{font:normal 12px/1.2 "noto Sans",sans-serif}
input,textarea,select,button{margin:0;padding:0;border-radius:0;color:#333;font:normal 12px/1.2 "noto Sans",sans-serif;outline:0;vertical-align:middle}
a,a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type="submit"],input[type="button"],input[type="reset"]{border:0;background:transparent;cursor:pointer}
img{border:0;vertical-align:top}
html,body{height:100%}
.wrap{position:relative;height:100%;min-height:768px;overflow:hidden}

/*공통*/
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
.clearfix::after{display:block;content:"";clear:both}
.hide{width:0;height:0;opacity:0;overflow:hidden}
.ts,.ts::before,.ts::after{-o-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-webkit-transition:all 0.5s ease;transition:all 0.5s ease}

header{position:absolute;top:0;left:0;right:0;z-index:20}
header .logo{float:left}
header .gnb{float:left}
header .btn-about{float:right}

.logo{position:relative;width:100px;height:100px;border:2px solid rgba(255,255,255,0.5);box-sizing:border-box}
.logo span{display:block;position:absolute;background:#fff;color:transparent;text-indent:-9999px}
.logo .l{top:25%;left:15%;width:8%;height:50%}
.logo .l::before{display:block;content:'';position:absolute;bottom:0;left:0;width:375%;height:16%;background:#fff}
.logo .f{top:25%;left:50%;width:8%;height:50%}
.logo .f::before{display:block;content:'';position:absolute;top:0;left:0;width:375%;height:16%;background:#fff}
.logo .f::after{display:block;content:'';position:absolute;top:40%;left:0;width:250%;height:16%;background:#fff}

*[class^="btn"]{display:inline-block;width:100px;height:100px;border:2px solid rgba(255,255,255,0.5);color:#fff;font-size:20px;text-align:center;box-sizing:border-box}
*[class^="btn"] section{position:relative;width:100%;height:100%}
*[class^="btn"] .title{font-size:1.8em;line-height:2.2em}
*[class^="btn"] p{position:absolute;bottom:20%;left:0;right:0;font-size:0.6em}

.gnb{position:relative}
.gnb .btn-menu{border-left:0}
.gnb .list{position:absolute;top:0;left:100%;height:0;margin:0 0 0 -2px;overflow:hidden}
.gnb .list.act{height:392px}
.gnb .list li button{width:200px;height:49px;border:2px solid rgba(255,255,255,0.5);border-bottom:0;color:#fff;font-size:13px;box-sizing:border-box}
.gnb .list li:last-child button{border-bottom:2px solid rgba(255,255,255,0.5)}

.info{position:absolute;top:0;right:-600px;bottom:0;width:600px;padding:100px;background:#fff;box-sizing:border-box;z-index:30}
.info.act{right:0}
.info .close{position:absolute;top:0;left:0;width:100px;height:100px;border:2px solid #000;color:transparent;text-indent:-9999px;box-sizing:border-box;overflow:hidden}
.info .close::before{display:block;content:'';position:absolute;top:45px;left:23px;width:50px;height:3px;border-radius:3px;background:#000;-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.info .close::after{display:block;content:'';position:absolute;top:45px;left:23px;width:50px;height:3px;border-radius:3px;background:#000;-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.info .close:hover{background:#000}
.info .close:hover::before{background:#fff}
.info .close:hover::after{background:#fff}
.info section{text-align:center}
.info h3{font-size:18px;font-weight:bold}
.info img{width:300px;margin:10px 0 25px}
.info dl{text-align:left}
.info dl dt{margin:0 0 10px;font-size:14px;font-weight:bold}
.info dl dd{margin:0 0 20px;font-size:14px;line-height:1.5}

.content{position:absolute;top:0;left:0;right:0;bottom:0;background:url('../img/bg.jpg') no-repeat center center / cover;z-index:10}


@media all and (max-width:970px){

}

@media all and (max-width:768px){

}
