---
layout: default
---
<div class="layout clearfix">
	<div class="notice">
		<a href="https://dico.devellany.com/"><strong>[공지]</strong> 블로그이 전안내 (클릭하면 이동합니다)</a>
	</div>
	
	<aside>
		{% if page.author == "Lovefield" %}
			{% include aside_user01.html %}
		{% endif %}
		{% if page.author == "민갤" %}
			{% include aside_user02.html %}
		{% endif %}
	</aside>

	<section class="post">
		<div class="post-header">
			<h2>{{ page.title }}</h2>
			<p><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y.%m.%d" }}</time></p>
			<p>by <b>{{ page.author }}</b></p>
		</div>
		
		<div class="post-content">
			{{ content }}
		</div>

		<!--<div class="post-adsense">
			<amp-ad layout="responsive" width="1040" height="150" type="adsense" data-ad-client="ca-pub-2118017270745219" data-ad-slot="7031463284"></amp-ad>
		</div> -->

		{% include ccl.html %}
	</section>
</div>
